[submodule "gstreamer/stage1/src/gstreamer"]
	path = gstreamer/stage1/src/gstreamer
	url = https://gitlab.freedesktop.org/gstreamer/gstreamer
[submodule "gstreamer/stage1/src/gst-plugins-bad"]
	path = gstreamer/stage1/src/gst-plugins-bad
	url = https://gitlab.freedesktop.org/gstreamer/gst-plugins-bad
[submodule "gstreamer/stage1/src/gst-plugins-good"]
	path = gstreamer/stage1/src/gst-plugins-good
	url = https://gitlab.freedesktop.org/gstreamer/gst-plugins-good
[submodule "gstreamer/stage1/src/gst-plugins-base"]
	path = gstreamer/stage1/src/gst-plugins-base
	url = https://gitlab.freedesktop.org/gstreamer/gst-plugins-base
[submodule "gstreamer/stage1/src/gst-plugins-ugly"]
	path = gstreamer/stage1/src/gst-plugins-ugly
	url = https://gitlab.freedesktop.org/gstreamer/gst-plugins-ugly
[submodule "gstreamer/stage1/src/gst-omx-nvidia"]
	path = gstreamer/stage1/src/gst-omx-nvidia
	url = https://github.com/ystreet/gst-omx-nvidia
[submodule "darknet/stage1/darknet"]
	path = darknet/stage1/darknet
	url = http://github.com/dtmoodie/darknet
[submodule "dlib/stage1/dlib"]
	path = dlib/stage1/dlib
	url = http://github.com/dtmoodie/dlib
[submodule "opencv/stage1/opencv"]
	path = opencv/stage1/opencv
	url = http://github.com/opencv/opencv
[submodule "opencv/stage1/opencv_contrib"]
	path = opencv/stage1/opencv_contrib
	url = http://github.com/opencv/opencv_contrib
[submodule "ros/stage1/console_bridge"]
	path = ros/stage1/console_bridge
	url = https://github.com/ros/console_bridge
[submodule "ros/stage1/tinyxml2"]
	path = ros/stage1/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "ros/stage1/common_msgs"]
	path = ros/stage1/common_msgs
	url = http://github.com/ros/common_msgs
[submodule "ros/stage1/poco"]
	path = ros/stage1/poco
	url = https://github.com/pocoproject/poco
[submodule "ros/stage1/lz4"]
	path = ros/stage1/lz4
	url = https://github.com/lz4/lz4
